[submodule "GameEngine/vendor/glfw/glfw"]
	path = GameEngine/vendor/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "GameEngine/vendor/glew/glew"]
	path = GameEngine/vendor/glew/glew
	url = https://github.com/RedE01/glew.git
[submodule "GameEngine/vendor/entt"]
	path = GameEngine/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "GameEngine/vendor/assimp/assimp"]
	path = GameEngine/vendor/assimp/assimp
	url = https://github.com/assimp/assimp.git
[submodule "GameEngine/vendor/stb"]
	path = GameEngine/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "GameEngine/vendor/glm/glm"]
	path = GameEngine/vendor/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "GameEngine/vendor/imgui/imgui"]
	path = GameEngine/vendor/imgui/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "GameEngine/vendor/yaml/yaml-cpp"]
	path = GameEngine/vendor/yaml/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
